.partneri {
  width: 100vw;
  background-color: #f7f7f7;
  text-align: center;
  padding-top: 40px;
  overflow: hidden;
}

.heading {
  font-size: 48px;
  font-weight: 700;
  line-height: 58.09px;
}

.listaPartnera {
  display: flex;
  align-items: center;
  justify-content: center;
}

.partneri img {
  width: 150px;
  height: 54.5px;
  object-fit: contain;
  margin: 40px 30px;
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.73px;
  }
}
